p {
  &.form-control-static {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    min-height: 31px;
  }

  &.input-lg,
  &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}
