$font-family: "Nanum Gothic";
$font-style: normal;
$font-url-base: "./NanumGothic/nanum-gothic-v11-latin_korean";

@font-face {
	font-family: "Nanum Gothic";
	font-style: $font-style-base;
	font-weight: $font-weight-normal;
	src: local("NanumGothic"),
		url("../../reference/light-blue/css/font/NanumGothic/nanum-gothic-v11-latin_korean-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../../reference/light-blue/css/font/NanumGothic/nanum-gothic-v11-latin_korean-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../../reference/light-blue/css/font/NanumGothic/nanum-gothic-v11-latin_korean-regular.woff") format("woff"),
		/* Modern Browsers */
			url("../../reference/light-blue/css/font/NanumGothic/nanum-gothic-v11-latin_korean-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../../reference/light-blue/css/font/NanumGothic/nanum-gothic-v11-latin_korean-regular.svg#NanumGothic")
			format("svg"); /* Legacy iOS */
}