.label {
  display: inline-block;
  max-width: 100%;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 8px;
  line-height: 14px;
  text-shadow: none;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  margin: 0 0.61rem;

  &:empty {
    display: none;
  }

  &.default,
  &.inverse {
    background-color: #999999;
  }

  &.primary {
    background-color: #2477ff;
  }

  &.success {
    background-color: #2d8515;
  }

  &.info {
    background-color: #4179cf;
  }

  &.warning {
    background-color: #e49400;
  }

  &.danger,
  &.important {
    background-color: #db2a34;
  }
}
