.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }

  &::-moz-placeholder {
    color: #999;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #999;
  }

  &::-webkit-input-placeholder {
    color: #999;
  }

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control-static {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
  min-height: 31px;

  &.input-lg,
  &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  pointer-events: none;
}

.has-feedback {
  position: relative;

  .form-control {
    padding-right: 37.5px;
  }

  label ~ .form-control-feedback {
    top: 23px;
  }

  label.sr-only ~ .form-control-feedback {
    top: 0;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: #ffffff;
  }

  .form-control {
    border-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-control:focus {
    border-color: #e6e6e6;
    -webkit-box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
  }

  .input-group-addon {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(214, 233, 198, 0.28);
  }

  .form-control-feedback {
    color: #ffffff;
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: #ffffff;
  }

  .form-control {
    border-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-control:focus {
    border-color: #e6e6e6;
    -webkit-box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
  }

  .input-group-addon {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(229, 190, 86, 0.28);
  }

  .form-control-feedback {
    color: #ffffff;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: #ffffff;
  }

  .form-control {
    border-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-control:focus {
    border-color: #e6e6e6;
    -webkit-box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
    box-shadow:
      inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 6px white;
  }

  .input-group-addon {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(242, 99, 73, 0.29);
  }

  .form-control-feedback {
    color: #ffffff;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
}
