.input-group-sm {
  > .form-control,
  > .input-group-addon,
  > .input-group-btn > .btn {
    height: 28px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  > select.form-control,
  > select.input-group-addon,
  > .input-group-btn > select.btn {
    height: 28px;
    line-height: 28px;
  }

  > textarea.form-control,
  > textarea.input-group-addon,
  > .input-group-btn > textarea.btn,
  > select[multiple].form-control,
  > select[multiple].input-group-addon,
  > .input-group-btn > select[multiple].btn {
    height: auto;
  }

  > .form-control + .form-control-feedback,
  > .input-group-addon + .form-control-feedback,
  > .input-group-btn > .btn + .form-control-feedback,
  & + .form-control-feedback {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
}

.input-group-lg {
  > .form-control,
  > .input-group-addon,
  > .input-group-btn > .btn {
    height: 44px;
    padding: 10px 16px;
    font-size: 16.25px;
    line-height: 1.33;
    border-radius: 6px;
  }

  > select.form-control,
  > select.input-group-addon,
  > .input-group-btn > select.btn {
    height: 44px;
    line-height: 44px;
  }

  > textarea.form-control,
  > textarea.input-group-addon,
  > .input-group-btn > textarea.btn,
  > select[multiple].form-control,
  > select[multiple].input-group-addon,
  > .input-group-btn > select[multiple].btn {
    height: auto;
  }

  > .form-control + .form-control-feedback,
  > .input-group-addon + .form-control-feedback,
  > .input-group-btn > .btn + .form-control-feedback,
  & + .form-control-feedback {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }
}

.input-group-lg,
.input-group-sm {
  > .form-control-static.form-control,
  > .form-control-static.input-group-addon,
  > .input-group-btn > .form-control-static.btn {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .input-group-sm {
    > input[type='date'].form-control,
    > input[type='date'].input-group-addon,
    > .input-group-btn > input[type='date'].btn,
    input[type='date'],
    > input[type='time'].form-control,
    > input[type='time'].input-group-addon,
    > .input-group-btn > input[type='time'].btn,
    input[type='time'],
    > input[type='datetime-local'].form-control,
    > input[type='datetime-local'].input-group-addon,
    > .input-group-btn > input[type='datetime-local'].btn,
    input[type='datetime-local'],
    > input[type='month'].form-control,
    > input[type='month'].input-group-addon,
    > .input-group-btn > input[type='month'].btn,
    input[type='month'] {
      line-height: 28px;
    }
  }

  .input-group-lg {
    > input[type='date'].form-control,
    > input[type='date'].input-group-addon,
    > .input-group-btn > input[type='date'].btn,
    input[type='date'],
    > input[type='time'].form-control,
    > input[type='time'].input-group-addon,
    > .input-group-btn > input[type='time'].btn,
    input[type='time'],
    > input[type='datetime-local'].form-control,
    > input[type='datetime-local'].input-group-addon,
    > .input-group-btn > input[type='datetime-local'].btn,
    input[type='datetime-local'],
    > input[type='month'].form-control,
    > input[type='month'].input-group-addon,
    > .input-group-btn > input[type='month'].btn,
    input[type='month'] {
      line-height: 44px;
    }
  }
}
