.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1.428571429;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover,
  &:focus,
  &.focus {
    color: #ffffff;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .caret {
    margin-left: 0;
  }
}

.btn-default {
  color: #ffffff;
  background-color: #666;
  border-color: rgba(0, 0, 0, 0.15);

  &:focus,
  &.focus {
    color: #ffffff;
    background-color: #4d4d4d;
    border-color: rgba(0, 0, 0, 0.15);
  }

  &:hover {
    color: #ffffff;
    background-color: #4d4d4d;
    border-color: rgba(0, 0, 0, 0.15);
  }

  &:active,
  &.active {
    color: #ffffff;
    background-color: #4d4d4d;
    border-color: rgba(0, 0, 0, 0.15);
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #ffffff;
    background-color: #3b3b3b;
    border-color: rgba(0, 0, 0, 0.15);
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #666;
    border-color: rgba(0, 0, 0, 0.15);
  }

  .badge {
    color: #666;
    background-color: #ffffff;
  }
}

.btn-primary {
  color: #fff;
  background-color: #2477ff;
  border-color: #0b67ff;

  &:focus,
  &.focus {
    color: #fff;
    background-color: #005bf0;
    border-color: #00348a;
  }

  &:hover {
    color: #fff;
    background-color: #005bf0;
    border-color: #004dcc;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #005bf0;
    border-color: #004dcc;
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #fff;
    background-color: #004dcc;
    border-color: #00348a;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #2477ff;
    border-color: #0b67ff;
  }

  .badge {
    color: #2477ff;
    background-color: #fff;
  }
}

.btn-success {
  color: #fff;
  background-color: #2d8515;
  border-color: #266f12;

  &:focus,
  &.focus {
    color: #fff;
    background-color: #1e590e;
    border-color: #000100;
  }

  &:hover {
    color: #fff;
    background-color: #1e590e;
    border-color: #143a09;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #1e590e;
    border-color: #143a09;
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #fff;
    background-color: #143a09;
    border-color: #000100;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #2d8515;
    border-color: #266f12;
  }

  .badge {
    color: #2d8515;
    background-color: #fff;
  }
}

.btn-info {
  color: #fff;
  background-color: #4179cf;
  border-color: #326cc5;

  &:focus,
  &.focus {
    color: #fff;
    background-color: #2d61b0;
    border-color: #18345f;
  }

  &:hover {
    color: #fff;
    background-color: #2d61b0;
    border-color: #255194;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #2d61b0;
    border-color: #255194;
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #fff;
    background-color: #255194;
    border-color: #18345f;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #4179cf;
    border-color: #326cc5;
  }

  .badge {
    color: #4179cf;
    background-color: #fff;
  }
}

.btn-warning {
  color: #fff;
  background-color: #e49400;
  border-color: #cb8300;

  &:focus,
  &.focus {
    color: #fff;
    background-color: #b17300;
    border-color: #4b3100;
  }

  &:hover {
    color: #fff;
    background-color: #b17300;
    border-color: #8d5c00;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #b17300;
    border-color: #8d5c00;
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #fff;
    background-color: #8d5c00;
    border-color: #4b3100;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #e49400;
    border-color: #cb8300;
  }

  .badge {
    color: #e49400;
    background-color: #fff;
  }
}

.btn-danger {
  color: #fff;
  background-color: #db2a34;
  border-color: #c9222c;

  &:focus,
  &.focus {
    color: #fff;
    background-color: #b41e27;
    border-color: #5c1014;
  }

  &:hover {
    color: #fff;
    background-color: #b41e27;
    border-color: #951920;
  }

  &:active,
  &.active {
    color: #fff;
    background-color: #b41e27;
    border-color: #951920;
  }

  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: #fff;
    background-color: #951920;
    border-color: #5c1014;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    background-color: #db2a34;
    border-color: #c9222c;
  }

  .badge {
    color: #db2a34;
    background-color: #fff;
  }
}

.btn-link {
  color: #a4c6ff;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    color: #5797ff;
    text-decoration: underline;
    background-color: transparent;
  }

  &[disabled]:hover,
  &[disabled]:focus {
    color: #999999;
    text-decoration: none;
  }
}

.btn-lg {
  padding: 10px 16px;
  font-size: 16.25px;
  line-height: 1.33;
  border-radius: 6px;

  .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
  }
}

.btn-sm {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;

  & + .btn-block {
    margin-top: 5px;
  }
}

[data-toggle='buttons'] {
  > .btn input[type='radio'],
  > .btn input[type='checkbox'],
  > .btn-group > .btn input[type='radio'],
  > .btn-group > .btn input[type='checkbox'] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}
