* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 13px;
  line-height: 1.428571429;
  color: #f8f8f8;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

p {
  margin: 0 0 9px;
}

[role='button'] {
  cursor: pointer;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 9px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 18px;
}

dt,
dd {
  line-height: 1.428571429;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

abbr {
  &[title],
  &[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999;
  }
}

address {
  margin-bottom: 18px;
  font-style: normal;
  line-height: 1.428571429;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: 19.5px;
  line-height: inherit;
  color: #ffffff;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

output {
  display: block;
  padding-top: 6px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #555;
}
