select {
  &.input-sm {
    height: 28px;
    line-height: 28px;
  }

  &.input-lg {
    height: 44px;
    line-height: 44px;
  }

  &[multiple],
  &[size] {
    height: auto;
  }

  &[multiple].input-sm,
  &[multiple].input-lg {
    height: auto;
  }
}
