/***************************/
/*         Align           */
/***************************/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/***************************/
/*         Color           */
/***************************/
.text-muted {
  color: #d2d2d2;
}

.text-primary {
  color: #2477ff;
}

.text-success {
  color: #ffffff;
}

.text-info {
  color: #ffffff;
}

.text-warning {
  color: #ffffff;
}

.text-danger {
  color: #ffffff;
}

/***************************/
/*         Background      */
/***************************/
.bg-primary {
  color: #fff;
}

.bg-primary {
  background-color: #2477ff;
}

.bg-success {
  background-color: rgba(214, 233, 198, 0.28);
}

.bg-info {
  background-color: rgba(74, 176, 206, 0.29);
}

.bg-warning {
  background-color: rgba(229, 190, 86, 0.28);
}

.bg-danger {
  background-color: rgba(242, 99, 73, 0.29);
}

/***************************/
/*         Transform       */
/***************************/
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase,
.initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/***************************/
/*         Wrap            */
/***************************/
.text-nowrap {
  white-space: nowrap;
}
