.blockquote {
  padding: 9px 18px;
  margin: 0 0 18px;
  font-size: 16.25px;
  border-left: 5px solid rgba(51, 51, 51, 0.425);

  &.sm {
    padding: 0 0 0 15px;
    font-size: 13px;
  }

  &.reverse,
  &.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid rgba(51, 51, 51, 0.425);
    border-left: 0;
    text-align: right;

    footer:before,
    small:before,
    .small:before {
      content: '';
    }

    footer:after,
    small:after,
    .small:after {
      content: '\00A0 \2014';
    }
  }

  p {
    font-size: inherit;
    margin-bottom: 9px;
  }

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }

  footer,
  small,
  .small {
    display: block;
    font-size: 80%;
    line-height: 1.428571429;
    color: #999999;
  }

  footer:before,
  small:before,
  .small:before {
    content: '\2014 \00A0';
  }
}
